body {
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to bottom,whitesmoke,white,rgb(221, 231, 241),rgb(221, 231, 241), rgb(184, 195, 207));
    background-size: cover;

}
#header {
  float: left;
  width: 100%;
  height: 13%;
  color: aliceblue;
  background-color: rgb(59, 89, 152);
  position: relative;
  
}

#label {
    color: whitesmoke;
    opacity: 0.97;
    position: absolute;
    font-size:35px;
    top: 32%;
    left: 12.5%;
}

#logform {
    position: absolute;
    font-size:12px;
    top: 18%;
    font-family: Arial;
    left: 59%;
    width: 60%;
}

#logIn {
    width: 6.3%;
    height: 3%;
    font-size: 12px;
    font-family: Arial;
    color: aliceblue;
    background-color: rgb(59, 89, 152);
    border-radius: 10%;
    border-color: rgb(15, 15, 128);
    margin-left: 2%;
    border-style: solid;
}

#info {
    float: left;
    margin-top: 3%;
    top: 25%;
    left: 12.7%;
    font-size: 1.1em;
    font-family: Arial;
    position: relative;
    color: rgb(19, 12, 85);
}

#birthQues .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: rgb(255, 255, 255);
    color: rgb(26, 21, 21);
    border-radius: 6px;
    padding: 7px;
    font-family: tahoma , arial black;    
    font-size: 1.2em;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 103%;
}

#birthQues:hover .tooltiptext {
    visibility: visible;
}

#birthButton {
    width: 12%;
    height: 10%;
    font-size: 13px;
    font-family: Arial;
    color: aliceblue;
    background-color: rgb(73, 115, 204);
    border-radius: 10%;
    border-color: rgb(11, 11, 175);
    margin-left: 85%;
    border-style: solid;
}

#registerForm {
    color: rgb(34, 34, 34);
    position: absolute;
    top: 17%;
    left: 57%;
}
hr{
    opacity:0.3;
}
#signIn {
    color: aliceblue;
    width: 45%;
    font-size: 1.1em;
    padding: 0.4em;
    opacity: 0.9;
    border: 2px groove rgb(15, 41, 10);
    border-radius: 0.3em;
    background-color: rgb(46, 128, 46);
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}
